body{
    width: 1260px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0C1014;
}

.presentacion{
    width: 100%;
    height: 450px;
    background-image: url("../img/imagen_presentacion_jugadores.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    border-bottom: 1px solid white;
    text-shadow: 2px 2px 5px black;
}

.presentacion h1{
    font-size: 60px;
    margin: 10px auto;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
}

.presentacion h3{
    font-size: 25px;
    margin: 10px 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
}

.como_funciona, .titulo{
    color: aliceblue;
    margin: auto;
    width: 600px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.como_funciona h1{
    margin-bottom: 0%;
    font-size: 50px;
}

.titulo{
    font-size: 30px;
}

.informacion{
    width: 1200px;
    height: 100px;
    margin: auto;
    color: aliceblue;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    margin-top: 20px;
}

.informacion .jugadores ul{
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacion .jugadores ul p{
    font-size: 50px;
}

.informacion .jugadores ul li{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.informacion .jugadores ul img{
    height: 80px;
}

.planes_jugadores{
    color: aliceblue;
    width: 830px;
    height: 320px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.planes_jugadores .plan_mensual{
    width: 400px;
    background: linear-gradient(to bottom, #009432, #006266);
    height: 40px;
    border-radius: 5px;
    margin-bottom: 0;
}

.planes_jugadores .plan_trimestral{
    width: 400px;
    background: linear-gradient(to bottom, #3867d6, #1B1464);
    height: 40px;
    border-radius: 5px;
}

.planes_jugadores .plan_mensual h2, .plan_trimestral h2{
    margin-top: 0%;
}

.planes_jugadores .plan_mensual h3, .plan_trimestral h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px black;
}

.planes_jugadores .plan_mensual ul, .plan_trimestral ul{
    list-style: none;
    text-align: left;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    margin-top: 5px;
    height: 120px;
}

.planes_jugadores ul li{
    margin: 10px;
}

.planes_jugadores ul li img{
    height: 18px;
    margin-right: 10px;
}

.planes_jugadores .plan_mensual button, .plan_trimestral button{
    width: 200px;
    height: 40px;
    background: linear-gradient(to bottom, #009432, #006266);
    color: aliceblue;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
    border: whitesmoke;
    margin-bottom: 0%;
}

.planes_jugadores .plan_mensual button:hover{
    cursor: pointer;
    width: 203px;
    height: 43px;
}

.planes_jugadores .plan_trimestral button:hover{
    cursor: pointer;
    width: 203px;
    height: 43px;
}

.consulta{
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.consulta a{
    text-decoration: none;
    color: #009432;
}

.consulta a:hover{
    text-decoration: underline;
}

footer{
    color: aliceblue;
    display: flex;
    justify-content: center;
}

footer .logo_pie{
    height: 50px;
    margin-left: 50px;
    border-radius: 5px;
    margin-right: 20px;
}